<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 엑시오스 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 부트스트랩 CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/host.css" />
    <style></style>
  </head>
  <body>
    <!-- 부트스트랩 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    < <%- include('./static/topBar') %> <% if(isEdit){ %> <% const
    selectedTagNames = []; %> <% party.tags.forEach((tag) => { %> <%
    selectedTagNames.push(tag.tag_name, tag.tag_num); %> <% }); %> <%
    console.log("selectedTagNames", selectedTagNames);%> <% const
    selectedAmenNames = []; %> <% party.amenities.forEach((amen) => { %> <%
    selectedAmenNames.push(amen.amen_name, amen.amen_num); %> <% }); %> <%
    console.log("selectedAmenNames", selectedAmenNames);%>
    <div
      hidden
      data-value="<%=selectedTagNames%>"
      id="selectedTagNamesId"
    ></div>
    <div
      hidden
      data-value="<%=selectedAmenNames%>"
      id="selectedAmenNamesId"
    ></div>
    <div hidden id="partyHostId" data-value="<%= party.id %>"></div>
    <div hidden id="partyNum" data-value="<%= party.party_num %>"></div>

    <div class="container">
      <h1>파티 수정하기</h1>

      <form
        class="row g-3 was-validated"
        novalidate
        onsubmit="editParty(event)"
        enctype="multipart/form-data"
      >
        <div class="col-md-4">
          <label for="title" class="form-label">제목</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="제목"
            value="<%=party.title%>"
            required
          />
          <div class="valid-feedback">좋은 제목이네요</div>
          <div class="invalid-feedback">제목을 입력해주세요</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">내용</label>
          <textarea
            class="form-control"
            id="description"
            placeholder="파티를 설명해주세요"
            required
          >
<%=party.description%></textarea
          >
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="date" class="form-label">날짜</label>
          <input
            type="date"
            class="form-control"
            id="date"
            value="<%=party.date%>"
            required
          />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="startTime" class="form-label">시작시간</label>
          <input
            type="time"
            class="form-control"
            id="startTime"
            value="<%=party.start_time%>"
            required
          />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="headCount" class="form-label">인원수 (나 포함)</label>
          <input
            type="number"
            class="form-control"
            id="headCount"
            value="<%=party.head_count%>"
            required
          />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <label class="form-label"
          >내 파티를 설명하는 태그를 골라주세요(필수)</label
        >
        <div class="container">
          <div class="row">
            <% for(let i = 0; i < allTags.length; i++){ %> <%
            if(allTags[i].tag_category_num == 0 &&
            selectedTagNames.includes(allTags[i].tag_name)){ %>
            <div class="col-3 col-md-1 col-lg-1">
              <button
                name="tags"
                class="btn btn-primary maintag selected-tags <%= allTags[i].tag_name.length > 3 ? 'small-font' : '' %>"
                type="button"
                data-bs-toggle="collapse"
                href="#<%=allTags[i].tag_num%>"
                aria-controls="<%=allTags[i].tag_num%>"
                aria-expanded="true"
                aria-checked="true"
                id="<%= allTags[i].tag_name %>"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
            </div>
            <% }else if(allTags[i].tag_category_num == 0){ %>
            <div class="col-3 col-md-1 col-lg-1">
              <button
                name="tags"
                class="btn btn-primary maintag <%= allTags[i].tag_name.length > 3 ? 'small-font' : '' %>"
                type="button"
                data-bs-toggle="collapse"
                href="#<%=allTags[i].tag_num%>"
                aria-controls="<%=allTags[i].tag_num%>"
                aria-expanded="false"
                aria-checked="false"
                id="<%= allTags[i].tag_name %>"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
            </div>
            <% }%><% } %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="1">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "술"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="8">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "언어"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="14">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "문화생활"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="23">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "게임"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="37">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "식사"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <label class="form-label">원하는 나이/성별이 있나요?(선택사항)</label>
        <div class="row">
          <% for(let i = 0; i < allTags.length; i++){ %> <%
          if(allTags[i].tag_category_num == 6){ %>
          <div class="col-4 col-md-1 col-lg-1">
            <button
              name="tags"
              class="btn btn-primary maintag <%= allTags[i].tag_name.length > 3 ? 'small-font' : '' %>"
              type="button"
              value="<%= allTags[i].tag_name %>"
              aria-checked="false"
            >
              <%= allTags[i].tag_name %>
            </button>
          </div>
          <% } %> <% } %>
        </div>

        <label class="form-label">장소에 관련된 규칙을 선택해주세요:</label>

        <div class="row">
          <div class="col">
            <% for(let i = 0; i < allAmens.length; i++){ %> <%
            if(allAmens[i].amen_category === "규칙"){ %>
            <button
              class="small amens"
              type="button"
              name="amenities"
              role="checkbox"
              aria-checked="false"
              value="<%= allAmens[i].amen_name %>"
            >
              <%= allAmens[i].amen_name %>
            </button>
            <%}%> <% } %>
          </div>
        </div>

        <label class="form-label">장소에 구비된 시설을 선택해주세요:</label>

        <div class="row">
          <div class="col">
            <% for(let i = 0; i < allAmens.length; i++){ %> <%
            if(allAmens[i].amen_category === "시설"){ %>
            <button
              class="small amens"
              type="button"
              name="amenities"
              role="checkbox"
              aria-checked="false"
              value="<%= allAmens[i].amen_name %>"
            >
              <%= allAmens[i].amen_name %>
            </button>
            <%}%> <% } %>
          </div>
        </div>
        <label for="">사진을 업로드해주세요:</label>
        <div class="col-12 imageupload">
          <!-- 이미지 업로드 -->

          <div id="imagePreview"></div>

          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            style="display: none"
            onchange="previewImage()"
            multiple
          />

          <button
            type="button"
            class="ImgButton"
            onclick="document.getElementById('imageInput').click()"
          >
            이미지 선택
          </button>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit" id="submit">
            수정 완료
          </button>
        </div>
      </form>
    </div>
    <script>
      // const testButton = document.querySelector("#술");
      // const testTags = document.querySelector("#multiCollapseExample1");
      // testButton.setAttribute("aria-expanded", "true");
      // testButton.setAttribute("aria-checked", "true");
      // testButton.classList.add("selected-amenities");
      // testTags.classList.add("show");
    </script>

    <% } else { %>
    <div class="container">
      <h1>새 파티 열기</h1>

      <form
        class="row g-3 was-validated"
        novalidate
        onsubmit="postParty(event)"
        enctype="multipart/form-data"
      >
        <div class="col-md-4">
          <label for="title" class="form-label">제목</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="제목"
            value=""
            required
          />
          <div class="valid-feedback">좋은 제목이네요</div>
          <div class="invalid-feedback">제목을 입력해주세요</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">내용</label>
          <textarea
            class="form-control"
            id="description"
            placeholder="파티를 설명해주세요"
            required
          ></textarea>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="date" class="form-label">날짜</label>
          <input type="date" class="form-control" id="date" value="" required />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="startTime" class="form-label">시작시간</label>
          <input
            type="time"
            class="form-control"
            id="startTime"
            value=""
            required
          />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-4">
          <label for="headCount" class="form-label">인원수 (나 포함)</label>
          <input
            type="number"
            class="form-control"
            id="headCount"
            value=""
            required
          />
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>

        <label class="form-label"
          >내 파티를 설명하는 태그를 골라주세요(필수)</label
        >
        <div class="container">
          <div class="row">
            <% let exampleCounter = 1; %> <% for(let i = 0; i < allTags.length;
            i++){ %> <% if(allTags[i].tag_category_num == 0){ %>
            <div class="col-4 col-md-1 col-lg-1">
              <button
                name="tags"
                class="btn btn-primary maintag <%= allTags[i].tag_name.length > 3 ? 'small-font' : '' %>"
                type="button"
                data-bs-toggle="collapse"
                href="#multiCollapseExample<%= exampleCounter %>"
                aria-controls="multiCollapseExample<%= exampleCounter %>"
                value="<%= allTags[i].tag_name %>"
                aria-expanded="false"
                aria-checked="false"
              >
                <%= allTags[i].tag_name %>
              </button>
            </div>
            <% exampleCounter++; %> <% } %> <% } %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "술"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "언어"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "문화생활"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample4">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "게임"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample5">
              <% for(let i = 0; i < allTags.length; i++){ %> <%
              if(allTags[i].tag_category === "식사"){ %>
              <button
                class="small tags"
                type="button"
                name="tags"
                role="checkbox"
                aria-checked="false"
                value="<%= allTags[i].tag_name %>"
              >
                <%= allTags[i].tag_name %>
              </button>
              <%}%> <% } %>
            </div>
          </div>
        </div>
        <br />
        <label class="form-label">원하는 나이/성별이 있나요?(선택사항)</label>
        <div class="row">
          <% for(let i = 0; i < allTags.length; i++){ %> <%
          if(allTags[i].tag_category_num == 6){ %>
          <div class="col-4 col-md-1 col-lg-1">
            <button
              name="tags"
              class="btn btn-primary maintag <%= allTags[i].tag_name.length > 3 ? 'small-font' : '' %>"
              type="button"
              value="<%= allTags[i].tag_name %>"
              aria-checked="false"
            >
              <%= allTags[i].tag_name %>
            </button>
          </div>
          <% } %> <% } %>
        </div>
        <div><br /></div>
        <label class="form-label">장소에 관련된 규칙을 선택해주세요:</label>

        <div class="row">
          <div class="col">
            <% for(let i = 0; i < allAmens.length; i++){ %> <%
            if(allAmens[i].amen_category === "규칙"){ %>
            <button
              class="small amens"
              type="button"
              name="amenities"
              role="checkbox"
              aria-checked="false"
              value="<%= allAmens[i].amen_name %>"
            >
              <%= allAmens[i].amen_name %>
            </button>
            <%}%> <% } %>
          </div>
        </div>

        <div><br /></div>
        <label class="form-label">장소에 구비된 시설을 선택해주세요:</label>

        <div class="row">
          <div class="col">
            <% for(let i = 0; i < allAmens.length; i++){ %> <%
            if(allAmens[i].amen_category === "시설"){ %>
            <button
              class="small amens"
              type="button"
              name="amenities"
              role="checkbox"
              aria-checked="false"
              value="<%= allAmens[i].amen_name %>"
            >
              <%= allAmens[i].amen_name %>
            </button>
            <%}%> <% } %>
          </div>
        </div>
        <br />
        <br />
        <label for="">사진을 업로드해주세요:</label>
        <div class="col-12 imageupload">
          <!-- 이미지 업로드 -->

          <div id="imagePreview"></div>

          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            style="display: none"
            onchange="previewImage()"
            multiple
          />

          <button
            type="button"
            class="ImgButton"
            onclick="document.getElementById('imageInput').click()"
          >
            이미지 선택
          </button>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit" id="submit">
            작성 완료
          </button>
        </div>
      </form>
      <% } %>
    </div>
    <script>
      //로그인 상태 확인
      let id = "";
      (function () {
        let result1 = "";
        const local = sessionStorage.getItem("token");
        console.log(local);
        const currentUrl = window.location.href;
        console.log(currentUrl);
        if (local != null) {
          axios({
            method: "post",
            url: `/verify`,
            data: {
              token: local,
            },
          }).then((result) => {
            sessionStorage.setItem("userId", result.data.user.id);
            id = result.data.user.id;
            const partyHostId = document.querySelector("#partyHostId");
            // console.log("partyHostId:", partyHostId.dataset.value);
            // console.log("current id:", result.data.user.id);
            if (partyHostId.dataset.value != result.data.user.id) {
              alert("게시글을 수정할 권한이 없습니다");
              window.location.href = "/parties";
              return;
            }
          });
        } else {
          alert("로그인을 해주세요");
          window.location.href = "/signin";
          console.log("로그인 확인 실패");
        }
      })();

      //input창 Validation
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
      //태그 클릭시 On/Off 토글
      const tagButtons = document.querySelectorAll('button[name="tags"]');
      tagButtons.forEach((button) => {
        button.addEventListener("click", () => {
          if (button.getAttribute("aria-checked") === "true") {
            button.setAttribute("aria-checked", "false");
            button.classList.remove("selected-tags");
          } else {
            button.setAttribute("aria-checked", "true");
            button.classList.add("selected-tags");
          }
        });
      });

      //어메니티 클릭 시 On/Off 토들
      const amenButtons = document.querySelectorAll('button[name="amenities"]');
      amenButtons.forEach((button) => {
        button.addEventListener("click", () => {
          if (button.getAttribute("aria-checked") === "true") {
            button.setAttribute("aria-checked", "false");
            button.classList.remove("selected-amenities");
          } else {
            button.setAttribute("aria-checked", "true");
            button.classList.add("selected-amenities");
          }
        });
      });
      // 이미지 여러개 미리보기
      function previewImage() {
        const imagePreview = document.getElementById("imagePreview");
        const imageFiles = document.querySelector("input[type=file]").files;

        function readAndPreview(file) {
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              var image = new Image();
              image.width = 100;
              image.height = 100;
              image.title = file.name;
              image.src = this.result;
              image.classList.add("images");
              imagePreview.appendChild(image);
            };
            reader.readAsDataURL(file);
          }
        }
        if (imageFiles) {
          [].forEach.call(imageFiles, readAndPreview);
        }
      }

      // 업로드 이미지
      async function uploadImages() {
        const imageInput = document.getElementById("imageInput");
        const selectedImages = Array.from(imageInput.files);
        const imgURLs = [];

        if (selectedImages) {
          try {
            const formData = new FormData();
            selectedImages.forEach((image) => {
              formData.append("image", image);
              console.log("selectedImages", image);
            });

            // 이미지를 업로드할 엔드포인트로 POST 요청 보내기
            const res = await axios.post("/parties/host/upload", formData, {
              headers: {
                "Content-Type": "multipart/form-data", // FormData를 사용할 때 필요한 헤더
              },
            });
            console.log("res.data.files", res.data.files);

            for (const file of res.data.files) {
              imgURLs.push(file.location);
            }

            console.log("imgURLs", imgURLs);
            return imgURLs;

            alert("이미지 업로드가 완료되었습니다.");
          } catch (error) {
            console.error("이미지 업로드 중 오류 발생:", error);
          }
        } else {
          alert("이미지를 선택해주세요.");
        }
      }

      //게시글 업로드
      async function postParty(e) {
        e.preventDefault();
        try {
          const imgURLs = await uploadImages();
          console.log("imgURLs", imgURLs);
          const data = {
            id,
            title: document.querySelector("#title").value,
            description: document.querySelector("#description").value,
            date: document.querySelector("#date").value,
            start_time: document.querySelector("#startTime").value,
            head_count: document.querySelector("#headCount").value,
            tags: [],
            amenities: [],
            imgURLs,
          };

          //선택된 태그를 Array에 Push
          const selectedTags = document.querySelectorAll(".selected-tags");
          selectedTags.forEach((select) => {
            data.tags.push(select.value);
          });

          //선택된 어메니티를 Array에 Push
          const selectedAmenities = document.querySelectorAll(
            ".selected-amenities"
          );
          selectedAmenities.forEach((select) => {
            data.amenities.push(select.value);
          });

          const result = await axios({
            method: "POST",
            url: "/parties/host",
            data,
          });

          console.log("result:", result);
          await uploadImages();
          if (result.data) {
            alert("글쓰기 완료");
            document.location.href = "/parties";
          }
        } catch (err) {
          console.log(err);
        }
      }
      const selectedTest = document.querySelector("#selectedTagNamesId");
      const selectedTagArray = selectedTest.dataset.value;
      //console.log(selectedTest.dataset.value);

      //게시글 수정 시, 기존에 선택했던 대분류 열기
      const selectedSmallTags = document.querySelectorAll(".multi-collapse");
      console.log(selectedSmallTags);
      selectedSmallTags.forEach((tag) => {
        if (selectedTagArray.includes(tag.id)) {
          tag.classList.add("show");
        }
      });

      //게시글 수정 시, 기존에 선택했던 태그들 선택상태로 만들기
      const allTagButtons = document.querySelectorAll('button[name="tags"]');
      allTagButtons.forEach((button) => {
        if (selectedTagArray.includes(button.value)) {
          button.setAttribute("aria-checked", "true");
          button.classList.add("selected-tags");
        }
      });

      const selectedTest1 = document.querySelector("#selectedAmenNamesId");
      const selectedAmenArray = selectedTest1.dataset.value;
      //console.log(selectedTest1.dataset.value);

      //게시글 수정 시, 기존에 선택했던 어메니티들 선택상태로 만들기
      const allAmenButtons = document.querySelectorAll(
        'button[name="amenities"]'
      );
      allAmenButtons.forEach((button) => {
        if (selectedAmenArray.includes(button.value)) {
          button.setAttribute("aria-checked", "true");
          button.classList.add("selected-amenities");
        }
      });

      //게시글 수정
      async function editParty(e) {
        e.preventDefault();
        try {
          const imgURLs = await uploadImages();
          console.log("imgURLs", imgURLs);
          const partyNum = document.querySelector("#partyNum");
          const data = {
            party_num: partyNum.dataset.value,
            id,
            title: document.querySelector("#title").value,
            description: document.querySelector("#description").value,
            date: document.querySelector("#date").value,
            start_time: document.querySelector("#startTime").value,
            head_count: document.querySelector("#headCount").value,
            tags: [],
            amenities: [],
            imgURLs,
          };

          //선택된 태그를 Array에 Push
          const selectedTags = document.querySelectorAll(".selected-tags");
          selectedTags.forEach((select) => {
            data.tags.push(select.value);
          });

          //선택된 어메니티를 Array에 Push
          const selectedAmenities = document.querySelectorAll(
            ".selected-amenities"
          );
          selectedAmenities.forEach((select) => {
            data.amenities.push(select.value);
          });

          const result = await axios({
            method: "PUT",
            url: `/parties/host/${partyNum}`,
            data,
          });

          console.log("result:", result);
          await uploadImages();
          if (result.data) {
            alert("수정 완료");
            document.location.href = "/parties";
          }
        } catch (err) {
          console.log(err);
        }
      }
    </script>
  </body>
</html>
