<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>목록</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/1395/1395020.png"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/parties.css" />

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/album/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('./static/topBar') %>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <form class="searchForm" id="searchForm">
          <div class="search">
            <input
              id="searchInput"
              class="form-control me-2"
              type="search"
              placeholder="원하는 파티를 찾아보세요."
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              id="searchButton"
              onclick="searchFunc()"
            >
              <img src="/public/img/search.svg" alt="" />
            </button>
          </div>
        </form>
        <div class="tag">
          <% for (let i = 0; i < allTags.length; i++){ %>
          <button
            class="tagButton"
            id="tagButton"
            value="<%= allTags[i].tag_name %>"
            onclick="tagSearchFunc(`<%= allTags[i].tag_name %>`)"
          >
            <%= allTags[i].tag_name %>
          </button>
          <% } %>
        </div>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
          style="margin-top: 10px"
        >
          <div
            id="partyLength"
            data-value="<%=parties.length%>"
            style="height: 30px; width: 61vw"
          >
            총 <%=parties.length%> 개 파티
          </div>
          <% for (let i = 0; i < parties.length; i++) { %>
          <div class="col">
            <div
              class="card shadow-sm hidden party-card"
              id="<%=i+1%>"
              data-value="<%=parties[i].party_num%>"
              data-value2="<%=parties[i].id%>"
            >
              <% if (parties[i].images && parties[i].images.length > 0) { %>
              <img
                src="<%=parties[i].images[0].img_URL%>"
                width="100%"
                height="225px"
              />
              <% } else { %>
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">사진</text>
              </svg>
              <% } %>

              <div class="card-body">
                <div class="titleTags">
                  <p class="card-title"><%= parties[i].title %></p>
                  <div class="card-tags">
                    <% parties[i].tags.forEach((tag) => { %>
                    <div class="tags"><%= tag.tag_name %></div>
                    <% }); %>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <img
                      src="/public/img/time.svg"
                      alt=""
                      style="width: 15px"
                    />
                    <h6><%= parties[i].start_time %></h6>
                  </div>
                  <% const createdAt = new Date(parties[i].createdAt); const
                  currentDate = new Date(); const timeDifference = currentDate -
                  createdAt; if(timeDifference < 60 * 1000){ //1분 미만인 경우
                  const secondsAgo = Math.floor(timeDifference/1000); %>
                  <small class="text-body-secondary"
                    ><%= secondsAgo %>초전</small
                  >
                  <% } else if(timeDifference < 60 * 60 * 1000){ const
                  minutesAgo = Math.floor(timeDifference / (60*1000)); %>
                  <small class="text-body-secondary"
                    ><%= minutesAgo %>분전</small
                  >
                  <% } else if(timeDifference < 24 * 60 * 60 *1000){ const
                  hoursAgo = Math.floor(timeDifference / (60*60*1000)); %>
                  <small class="text-body-secondary"
                    ><%= hoursAgo %>시간전</small
                  >
                  <% } else{ const daysAgo = Math.floor(timeDifference / (24 *
                  60 * 60 * 1000)); %>
                  <small class="text-body-secondary"><%= daysAgo %>일전</small>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </div>
    </div>
    <div>
      <button
        type="button"
        id="writeButton"
        class="writeButton"
        onclick="writeFunc()"
      >
        <span>파티 열기</span>
      </button>
    </div>

    <script>
      // //카드 마우스 효과 실행
      // const cards = document.querySelectorAll(".card");
      // cards.forEach((card) => {
      //   card.addEventListener("mouseleave", () => {
      //     card.style.transform = "scale(1)"; //원래 크기로 돌아감
      //     card.style.boxShaow = "0 4px 8px rgba(0, 0, 0, 0.1)"; //원래 그림자로 돌아감
      //   });
      // });
      localStorage.clear("searchItem");
      (function () {
        let result1 = "";
        const local = sessionStorage.getItem("token");
        console.log(local);
        const currentUrl = window.location.href;
        console.log(currentUrl);
        if (local != null) {
          axios({
            method: "post",
            url: `/verify`,
            data: {
              token: local,
            },
          }).then((result) => {
            result1 = result;
            console.log(result1.data.user.id);
            sessionStorage.setItem("userId", result1.data.user.id);

            const buttons = document.querySelectorAll("#goChatRoom");
            buttons.forEach((element) => {
              console.log(element.value.split(",")[1]);
              if (result1.data.user.id == element.value.split(",")[1]) {
                element.hidden = true;
              }
            });
          });
        } else {
          console.log("로그인 실패");
        }
      })();

      function write1() {
        location.href = `/parties/write`;
      }

      async function chatRoom(e) {
        console.log(e);
        location.href = `/chat?partiesNum=${e}`;
      }
      async function searchFunc() {
        const searchValue = document.getElementById("searchInput").value;
        console.log(searchValue);
        localStorage.setItem("searchItem", searchValue);
        try {
          const res = await axios({
            method: "get",
            url: `/partiesSearch?q=${searchValue}`,
            data: searchValue,
          }).then((res) => {
            console.log("res", res);
            location.href = `/partiesSearch?q=${res.config.data}`;
          });
        } catch (err) {
          console.log(err);
        }
      }
      async function tagSearchFunc(tag) {
        console.log(tag);
        const searchTag = tag;
        try {
          const res = await axios({
            method: "get",
            url: `/partiesSearch?q=${searchTag}`,
            data: searchTag,
          }).then((res) => {
            console.log("res", res);
            location.href = `/partiesSearch?q=${res.config.data}`;
          });
        } catch (error) {
          console.log(err);
        }
      }
      function writeFunc() {
        location.href = `/parties/host`;
      }

      //파티카드 누르면 해당파티 상세페이지로 이동
      const partyLength = document.getElementById("partyLength");
      for (let i = 0; i < partyLength.dataset.value; i++) {
        const cardLink = document.getElementById(`${i + 1}`);
        cardLink.addEventListener("click", () => {
          console.log(cardLink.dataset.value);
          console.log(cardLink.dataset.value2);
          window.location.href = `/parties/${cardLink.dataset.value}/${cardLink.dataset.value2}`;
        });
      }
    </script>
  </body>
</html>
