<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파티 상세페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 부트스트랩 CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/partyDetail.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부트스트랩 CDN -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      <h1>파티 상세페이지</h1>

      <!-- 파티글 작성자의 id를 hidden값으로 받아옴 -->
      <div hidden id="postedBy" data-value="<%= party.id %>"></div>
      <!-- 파티의 party_num을 hidden값으로 받아옴 -->
      <div hidden id="partyNum" data-value="<%= party.party_num %>"></div>

      <!-- 파티 참여신청 -->
      <button
        id="goChatRoom"
        onclick="chatRoom(this.value)"
        value="<%= party.party_num %>,<%= party.id %>"
      >
        파티 참여신청
      </button>

      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <% for(let i = 1; i < party.images.length; i++){ %>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="<%=i%>"
            aria-label="Slide <%=i+1%>"
          ></button>
          <% } %>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="<%=party.images[0].img_URL%>"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <% for(let i = 1; i < party.images.length; i++){%>
          <div class="carousel-item">
            <img
              src="<%=party.images[i].img_URL%>"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <% } %>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="col">
          <h1>파티 제목: <%= party.title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col tags">
          파티 태그:
        <% party.tags.forEach((tag) => { %>
          <div class="tag"><%= tag.tag_name %></div>
        <% }); %>
        </div>
      </div>
      <div class="row">
        <div class="col">설명: <%= party.description %></div>
      </div>

      <br />파티 날짜: <%= party.date %> <br />

      

      파티 규칙/시설:
      <ul>
        <% party.amenities.forEach((amenity) => { %>
        <li><%= amenity.amen_name %></li>
        <% }); %>
      </ul>
    </div>

    <script>
      (function () {
        let result1 = "";
        const local = sessionStorage.getItem("token");
        console.log(local);
        const currentUrl = window.location.href;
        console.log(currentUrl);
        if (local != null) {
          axios({
            method: "post",
            url: `/verify`,
            data: {
              token: local,
            },
          }).then((result) => {
            console.log(result.data.user.id);
            sessionStorage.setItem("userId", result.data.user.id);
            const postedBy = document.querySelector("#postedBy");
            const body = document.querySelector("body");
            const joinParty = document.querySelector("#goChatRoom");
            console.log(postedBy.dataset.value);
            if (result.data.user.id === postedBy.dataset.value) {
              body.insertAdjacentHTML(
                "afterbegin",
                `<button id="editParty" type="button" onclick="editParty()">파티 수정</button>
                <button id="deteleParty" type="button" onclick= "deleteParty()">파티 삭제</button>`
              );
              joinParty.setAttribute("hidden", "true");
            }
          });
        } else {
          console.log("로그인 실패");
        }
      })();

      async function editParty() {
        const postedBy = document.querySelector("#postedBy");
        const currentUserId = sessionStorage.getItem("userId");
        console.log(postedBy.dataset.value, currentUserId);
        document.location.href = `/parties/host/${partyNum.dataset.value}`;
        // try {
        //   const res = await axios({
        //     method: "GET",
        //     url: `/parties/host/${partyNum.dataset.value}`,
        //   });
        //   console.log("res", res);
        // } catch (err) {
        //   console.log(err);
        // }
      }

      async function deleteParty() {
        const partyNum = document.querySelector("#partyNum");
        try {
          const res = await axios({
            method: "DELETE",
            url: `/parties/${partyNum.dataset.value}`,
          });
          alert(res.data);
          document.location.href = "/parties";
        } catch (err) {
          console.log(err);
        }
      }

      async function chatRoom(e) {
        console.log(e);
        location.href = `/chat?partiesNum=${e}`;
      }
    </script>
  </body>
</html>
